* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    align-items: center;
    background: grey;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 25px;
    width: 100%;
  }

  h1 {
    text-transform: uppercase;
  }

  .game-board {
    display: gird;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 700px;
    margin: 10px 0 25px;
    width: 700px;
  }