* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 25px;
  width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  width: 700px;
  height: 700px;
  margin: 10px 0 25px;;
}
.cell {
  border: 5px, black;
  background-color: black;
  border-radius: 50%;
  outline: 5px black;
}
.cell:hover {
  background-color:red;
}
h1 {
   text-transform: uppercase;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 700px;
}











